<style>
				*{
				margin:0;
				font-family;roboto,sans-serif;
				}
			body {
                width: 760px;
                margin: auto
                text-align: justify
                background-color:   rgb 
            }		
            <main> 
            background-color: rgb 
            margin:20px
            padding:20px
			h1{
				font-family; roboto, sains-serif;		
				font-size:60px;
				margin:0;
				color:rgb (0,0,255);
			}

			</style> 